email=devopstrainingblr@gmail.com
#always-auth=true
#_auth=YWRtaW46TmV4dXNAMDk4NzY1NDMyMQ== 
//registry.npmjs.org/:_auth=YWRtaW46TmV4dXNAMDk4NzY1NDMyMQ==
registry = http://3.237.233.152:8081/repository/nodejsPRJ/
allowRepublish=true
