email=devopstrainingblr@gmail.com
#always-auth=true
//registry.npmjs.org/:_auth=YWRtaW46TmV4dXNAMDk4NzY1NDMyMQ==
allowRepublish=true
npm adduser --auth-type=legacy --registry=http://3.237.233.152:8081/repository/nodejsPRJ/
